
\.idea/
__pycache__/
.~lock*
Data/

DataCollection/Data/
DataCollection/__pycache__/

Classification/Output/sequences/

PaperSelection/Output/selected_papers/
Counting/Output/Test/
Combine/Output/Test/
PaperSelection/Output/Test/
FeatureExtraction/Output/Test/
ProteinCollecting/Output/sequences/

migrations/
