<div class="card">
    <div class="card-header bg-dark text-white">
        <h3 class="mb-0">
            Gene Info
        </h3>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
            <tr class="row">
                <th class="col-3" style="border: none">UniProt Info</th>
                <td class="col-9" style="border: none">
                    <div class="row">
                        <div class="col-4"><strong>Accession</strong></div>
                        <div class="col-8">
                            {{ debug_info.uniprot_accession }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><strong>ID</strong></div>
                        <div class="col-8">
                            {{ debug_info.uniprot_id }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><strong>Protein</strong></div>
                        <div class="col-8">
                            {{ debug_info.protein_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><strong>Gene</strong></div>
                        <div class="col-8">
                            {% for name in debug_info.gene_names %}
                                {{ name }}<br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><strong>Organism</strong></div>
                        <div class="col-8">
                            {{ debug_info.organism }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><strong>Host</strong></div>
                        <div class="col-8">
                            {% for name in debug_info.host_organisms %}
                                {{ name }}<br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><strong>Found Keywords</strong></div>
                        <div class="col-8">
                            {% for name in debug_info.gene.split('_') %}
                                {{ str.upper(name) }}<br>
                            {% endfor %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-3">Scores</th>
                <td class="col-9">
                    {% for phase in debug_info.phases %}
                        {% if phase == debug_info.winning_phase() %}
                            <div class="row bg-secondary text-white">
                        {% else %}
                            <div class="row">
                        {% endif %}
                    <div class="col-5">
                        <strong>{{ str.capitalize(phase) }}:</strong>
                    </div>
                    <div class="col-2">
                        {{ round(debug_info.scores.get(phase, 0), 2) }}
                    </div>
                    <div class="col-3">
                        ({{ round(100*debug_info.percentages.get(phase, 0), 2) }}%)
                    </div>
                    <div class="col-2"></div>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr class="row">
                <th class="col-3">UniProt Extra</th>
                <td class="col-9">
                    {% for key, value in debug_info.uniprot_info.items() %}
                        <div class="row">
                            <div class="col">
                                {{ key }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-1 col-11">
                                {% for v in value %}
                                    {{ v["value"] }}<br>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
