{% extends "base.html" %}

{% block app_content %}
    <div class="container-fluid px-5">
        <!-- main row-->
        <div class="row my-4">
            <!-- main left column -->
            <div class="col">
                <div class="row">
                    <div class="col">
                        {% include 'gene_info.html' %}
                    </div>
                </div>
                {% include 'review_buttons.html' %}
            </div>
            <!-- main right column -->
            {% include 'debug_info_overview.html' %}
        </div>
    </div>
{% endblock %}
