{% extends "base.html" %}

{% block app_content %}
    <div class="container-fluid" style="padding-left: 5%; padding-right: 5%">
        <table id="overviewTable" class="table mt-5">
            <thead class="thead-dark">
            <tr class="row">
                <th class="col-1"><h4 class="mb-0">Virus</h4></th>
                <th class="col-1"><h4 class="mb-0">Gene</h4></th>
                <th class="col-2"><h4 class="mb-0">Keywords</h4></th>
                <th class="col-2"><h4 class="mb-0">Calculated Phase</h4></th>
                <th class="col-2"><h4 class="mb-0">Reviewed Phase</h4></th>
                <th class="col-2"><h4 class="mb-0">Status</h4></th>
                {% if request.url[-10:] == '?sort=True' %}
                    <th class="col-2"><a href="{{ url_for('review.overview') }}">
                        <button class="btn btn-secondary">Sorted</button>
                    </a></th>
                {% else %}
                    <th class="col-2"><a href="{{ url_for('review.overview', sort=True) }}">
                        <button class="btn btn-light">Sort</button>
                    </a></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for gene in genes %}
                <tr class="row">
                    <td class="col-1">{{ gene.virus }}</td>
                    <td class="col-1">
                        {% for name in debug_info[gene.virus][gene.names].gene_names %}
                            {{ name }}<br>
                        {% endfor %}
                    </td>
                    <td class="col-2 line-break">{{ gene.names }}</td>
                    <td class="col-2">{{ gene.old_phase }}</td>
                    {% if gene.reviewed_phase is none %}
                        <td class="col-2"></td>
                    {% else %}
                        <td class="col-2">{{ gene.reviewed_phase }}</td>
                    {% endif %}
                    {% if gene.review_status == "MODIFIED" %}
                        <td class="col-2"><i
                                class="fa fa-times-circle fa-lg align-middle text-danger"></i>&nbsp;{{ gene.review_status }}
                        </td>
                    {% elif gene.review_status == "CORRECT" %}
                        <td class="col-2"><i
                                class="fa fa-check-circle fa-lg align-middle text-success"></i>&nbsp;{{ gene.review_status }}
                        </td>
                    {% elif gene.review_status == "UNCERTAIN" %}
                        <td class="col-2"><i
                                class="fa fa-question-circle fa-lg align-middle text-warning"></i>&nbsp;{{ gene.review_status }}
                        </td>
                    {% elif gene.review_status == "REVIEW_LATER" %}
                        <td class="col-2"><i
                                class="fa fa-clock fa-lg align-middle text-info"></i>&nbsp;{{ gene.review_status }}</td>
                    {% else %}
                        <td class="col-2">{{ gene.review_status }}</td>
                    {% endif %}
                    <td class="col-2">
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                data-target="#deleteReviewModal{{ gene.names }}">
                            &nbsp;<i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                        </button>
                        {% if request.url[-10:] == '?sort=True' %}
                            <button onclick="window.location.href = '{{ url_for('review.index') }}/{{ gene.virus }}/{{ gene.names }}?overview_sorted=True'"
                                    type="button"
                                    class="btn btn-sm btn-info">
                                &nbsp;<i class="fa fa-edit" aria-hidden="true"></i>&nbsp;
                            </button>
                        {% else %}
                            <button onclick="window.location.href = '{{ url_for('review.index') }}/{{ gene.virus }}/{{ gene.names }}'"
                                    type="button"
                                    class="btn btn-sm btn-info">
                                &nbsp;<i class="fa fa-edit" aria-hidden="true"></i>&nbsp;
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% include 'delete_review_modal.html' %}
            {% endfor %}
            </tbody>
        </table>
        <div class="row mt-5">
            <div class="col">
                <h3>Reviewed genes per virus (total: {{ totals[2] }}):</h3>
                {% for g, c in totals[0].items() %}
                    {{ g }}: {{ c }}<br>
                {% endfor %}
            </div>
            <div class="col">
                <h3>Total genes to review (total: {{ totals[3] }}):</h3>
                {% for g, c in totals[1].items() %}
                    {{ g }}: {{ c }}<br>
                {% endfor %}
            </div>
            <div class="col">
                <h3>Number of genes per status:</h3>
                {% for g, c in totals[4].items() %}
                    {{ g }}: {{ c }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="my-5"></div>
    </div>
{% endblock app_content %}
